<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Chuck Norris Jokes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <h1>Blague de Chuck & des chiens</h1>
            <p>Clique en dessous pour générer une image de chien et une blague !</p>
            <label for="language-select">Choisissez une langue :</label>
            <select id="language-select">
                <option value="en">English</option>
                <option value="fr">Français</option>
                <option value="es">Español</option>
                <option value="de">Deutsch</option>
                <option value="it">Italiano</option>
            </select>
        </header>
        <main>
            <div id="result">
                <div id="joke-container">
                    <p>{{ texte }}</p>
                </div>
                <div id="dog-container">
                    <img src="{{ image_url }}" alt="Image" style="max-width: 100%; height: auto;">
                </div>
            </div>
            <button id="generate-button">
                <i class="fas fa-laugh-beam"></i> Générer!
            </button>
        </main>
        <footer>
            <p>Créée avec le ❤️ pour énormément de fun haha ! 😂looool</p>
        </footer>
    </div>
    <script>
        document.getElementById("language-select").addEventListener("change", function () {
            const selectedLanguage = this.value;
            console.log("Langue choisie :", selectedLanguage);
        });

        document.getElementById("generate-button").addEventListener("click", function () {
            location.reload();
        });
    </script>
</body>

</html>
