<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuck Norris Jokes</title>
    <link rel="stylesheet" href="C:\Users\doria\OneDrive\Images\CI maintient\projet\static\css\styles.css">
</head>
<body>
    <h1>Chuck Norris Jokes & Cute Dogs</h1>
    <button id="generate-button">Get a Joke and a Dog</button>
    <div id="result">
        <p id="joke"></p>
        <img id="dog-image" src="" alt="Random Dog">
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
